header {
    border-bottom: 1px solid green;
    margin: 0px 223px;
    text-align: center;
    background-color: lightskyblue;
}
#image1 {
    border-radius: 50%;
    width: 20%;
}

nav {
    display: inline-block;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: darkgreen;
    margin: 20px 300px;
    display: inline-block
}
p {
margin: auto 36px;
text-align: center;
}
main {
    width: 960px;
    margin: 0px auto;
    background-color: lightgreen;
}

section {
    border: 1px solid black;
    display: inline-block;
    

}

.even-columns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    max-width: 1000px;
    margin: 0 auto;
    gap: 1em;
    justify-content: center;
}
.card {
    padding: 1rem;
    background: var(--clr-gradient);
    border-radius: 0.25rem;
  }

  .image2 {
    padding-left: 5%;
    height: 200px;
    width: 250px;
  }
