header {
    border-bottom: 1px solid green;
    margin: 0px 150px;
    text-align: center;
    background-color: lightskyblue;
}
#image1 {
    border-radius: 50%;
    width: 20%;
}

nav {
    display: inline-block;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: darkgreen;
    margin: 20px 300px;
    display: inline-block
}
p {
margin: auto 36px;
text-align: center;
}
main {
    width: 960px;
    margin: 10px auto;
    background-color: lightgreen;
}
